
// Body
$body-bg: #f2f2f7;
// Main
$main-bg: #fafafa;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-for-title: 'Overlock SC', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$violetdark: #241858;
$violetsoft: #3E3175;
$whitesoft: #dee2e6;

//breakpoints
$breakpoint-target: 768px;
