
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC|Righteous|ZCOOL+QingKe+HuangYou');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// magnific-popup
@import '~magnific-popup/dist/magnific-popup.css';

body {

    background-color: #f2f2f7 !important;
}

body, html {
    height: 100%;

}

// frontend app
div.pf-main.container {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    .card{
        background: whitesmoke;
    }
}
div.pf-header {
    position: relative;
    background-color: transparent;
    height: 49%;
    /*border-bottom: solid black;*/
    box-shadow: 0px 6px 6px #adb5bd;
    div.bg-mask{
        background: #ffc10717;
    }
    h1 {
        background: rgba(0, 0, 0, 0.6);
        font-size: 2.2rem;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
    }
    h3 {
        background: rgba(0, 0, 0, 0.6);
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        /*font-size: 2.2rem;*/
    }
    div#photo_identite {
        height: 6em;
        width: 6em;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        position: absolute;
        /*top: 50%;*/
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        /*border: solid;*/
        box-shadow: 0px 6px 6px #adb5bd;
    }
}
div.pf-main-post {
    /*height: 49%;*/
}

// backoffice

// head menu
.navbar-laravel {
  background-color: $violetsoft;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  div.col-2 {
      background-color: $violetdark;
  }
}
// menu gauche vertical
aside.main-menu {
    ul {
        li{
            a {
                color: $whitesoft;
            }
        }
        li.active {
            background-color: $whitesoft;
            a{
                color: black;
            }
        }
        
    }
}
// corps de page
div.main-col{
    background-color: $main-bg;
    main {
        .breadcrumb {
            background-color: transparent;
        }
        // prévisualisation image dans formulaires
        img#preview{
            max-height: 350px;
        }
        img#preview_2 {
            border-radius: 100%;
            width: 200px;
            height: 200px;
        }
    }
}

// images

label.custom-file-label::after {
    content: "Parcourir";
}

// datatables
div.dataTables_wrapper {
    width: 100%;
}