
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC|Righteous|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Wallpoet');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// magnific-popup
@import '~magnific-popup/dist/magnific-popup.css';

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {

    background-color: #f2f2f7 !important;
}

body, html {
    height: 100%;

}

// frontend app
div.diagonal-effect {
        background: black;
        height: 17%;
        transform:skew(0deg,-4deg);
        top: -10%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
// burger
div.bm-burger-button{
    z-index: 10;
}
.bm-menu {
    background-color: #141508 !important;
}
// parallax
.parallax-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
/*  display: flex;
  align-items: center;
  justify-content: center;
  color: white;*/
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: 0;
}

div.pf-main.container {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    .card{
        background: whitesmoke;
    }
}
div.pf-header {
    position: relative;
    background-color: transparent;
    /*height: 49%;*/
    /*border-bottom: solid black;*/
    box-shadow: 0px 6px 6px #adb5bd;
    @media (min-width: $breakpoint-target) {
        height: 100%;
        min-height: 100%;
    }
    div.bg-mask{
        background: #ffc10717;
    }
    h1 {
        background: rgba(0, 0, 0, 0.6);
        font-size: 2.2rem;
        font-family: $font-family-for-title;
    }
    h3 {
        background: rgba(0, 0, 0, 0.6);
        font-family: $font-family-for-title;
        /*font-size: 2.2rem;*/
    }
    div#photo_identite {
        height: 6em;
        width: 6em;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        position: absolute;
        /*top: 50%;*/
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        /*border: solid;*/
        box-shadow: 0px 6px 6px #adb5bd;
    }
}
div.pf-main-post {
    /*height: 49%;*/
    /*min-height: 400px;*/
    font-family: $font-family-sans-serif;
}
// skills bars
li.skill-bar {
	margin: 0.5em 0 0.5em;
	border: 0.1em solid $gray-color;
	border-radius: 3px;
	background: lighten($gray-color, 25%);
	list-style: none;
	overflow: hidden;
	
	div {
		position: relative;
		height: 1.4em;
		background: $loading-color;
		font-size: 0.6em;

		label:first-child {
			position: absolute;
			left: 8px;
		}
		label:last-child {
			position: absolute;
			right: 6px;
		}
	}
    }
// backoffice

// head menu
.navbar-laravel {
  background-color: $violetsoft;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  div.col-2 {
      background-color: $violetdark;
  }
}
// menu gauche vertical
aside.main-menu {
    ul {
        li{
            a {
                color: $whitesoft;
            }
        }
        li.active {
            background-color: $whitesoft;
            a{
                color: black;
            }
        }
        
    }
}
// corps de page
div.main-col{
    background-color: $main-bg;
    main {
        .breadcrumb {
            background-color: transparent;
        }
        // prévisualisation image dans formulaires
        img#preview{
            max-height: 350px;
        }
        img#preview_2 {
            border-radius: 100%;
            width: 200px;
            height: 200px;
        }
    }
}

// images

label.custom-file-label::after {
    content: "Parcourir";
}

// datatables
div.dataTables_wrapper {
    width: 100%;
}